#game{
    min-height: 100vh;
}
#cerrar{
    position:absolute;
    font-size: 25px;
    right: 10px;
    top: 15%;
    z-index:2;
    padding:.75rem 1.25rem;
    color:inherit;
}
#cerrar:hover{
    color:#000;
    text-decoration:none;
}
button#cerrar{
    padding:0;
    background-color:transparent;
    border:0;
}

.intermedio{
    min-width: 10%;
    min-height: 10%;
    position: absolute;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    opacity: 0;
    color: black;
    z-index:3;
}