@font-face {
  font-family: 'SW1';
  src: url('Assets/Fonts/starjedi/Starjedi.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SW2';
  src: url('Assets/Fonts/starjedi/Starjhol.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SW3';
  src: url('Assets/Fonts/starjout/Starjout.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SW4';
  src: url('Assets/Fonts/stjedise/STJEDISE.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SW5';
  src: url('Assets/Fonts/stjelogo/Stjldbl1.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SW6';
  src: url('Assets/Fonts/stjelogo/Stjldbl2.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SW7';
  src: url('Assets/Fonts/stjelogo/Strjmono.ttf');
  font-weight: normal;
  font-style: normal;
}

.star-wars-font { /* 2, 4 */
  font-family: 'SW2'!important;
}
.bg-stars {
  background-image: url('Assets/Background/stars.jpg');
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
